.suggests {
  width: 300px;
  height: 180px;
  padding: 1.5rem 2.8rem 1.5rem 2.8rem;
  background: #202024;
  border: 0.1rem solid #323238;
  border-radius: 0.6rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.01px;
  text-transform: uppercase;
  color: #e1e1e6;
  opacity: 0.95;
  position: absolute;
  top: -330px;
  display: none;
}

.suggests h3 {
  font-size: 1.4rem;
  text-align: center;
}

.suggests ul {
  margin-top: 1rem;
  list-style: none;
}

.suggests ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}